<script id="tmpl-dataList" type="text/html">
	<div class="dataList" style="left:{{left}}px;top:{{top}}px;{{#if width}}width:{{width}}px{{/if}}">
		<div class="dataList-main">
		</div>
	</div>
</script>
<script id="tmpl-dataList-item" type="text/html">
	<div class="item">
		{{name}}
	</div>
</script>
