<script id="tmpl-mailingSelector" type="text/html">
	<div class="mailingSelector" style="left:{{left}}px;top:{{top}}px;{{#if width}}width:{{width}}px{{/if}}">
		<div class="mailingSelector-main">
			<div class="mailingSelector-header">
					{{text}}
			</div>
			<div class="mailingSelector-content">
				<div class="mailingSelector-items">
				</div>
			</div>
		</div>
	</div>
</script>
<script id="tmpl-mailingSelector-item" type="text/html">
	<div class="item">
		{{name}}
	</div>
</script>
