<script id="tmpl-overlay" type="text/html">
	<div class="overlay" style="right:{{right}}px;top:{{top}}px;{{#if width}}width:{{width}}px{{/if}}">
        <h3><span>Link:Email Evoluation Conference</span><div class="icoDiv close"><span class="ico ico-close">&nbsp;</span></div></h3>
        <p class="marginTop10"><span>Click Rate:</span><span class="clickRate">0.22%</span></p>
        <p><span>Unique Clicks:</span><span class="uniqueClicks">25</span></p>
        <p><span>Total Clicks:</span><span class="totalClicks">28</span></p>
        <p class="marginTop20">Sent 11364 times</p>
        <p>In 46% of Message</p>
	</div>
</script>
