<script id="tmpl-report" type="text/html">
	<div class="smr report" data-type="{{reportType}}">
	   <div class="report-header">
	   </div>
	   <div class="report-content">
	   		
	   </div>
	   <div class="report-data-loading">
          <div>
          	<span class="loading-data-gif">&nbsp;</span><span>Loading data...</span>
		  </div>
	   </div>
	   <div class="report-data-progressBar">
			<div class="aggregating-gray"></div>
			<div class="aggregating-data">
				<div class="aggregating-progress">
					<div class="aggregating-title"><span>Searching activity detail and aggregating data</span></div>
					<div class="aggregating-bar"></div>
				</div>
			</div>
		<div>
	</div>
</script>