<script id="tmpl-sectionDeliverabilityDomains" type="text/html">
	<div class="sectionDeliverabilityDomains">  
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary"></div>
		<div class="sectionDeliverabilityDomains-view"></div>
	</div>
</script>

<script id="tmpl-sectionDeliverabilityDomains-tableChart" type="text/html">
	<div class="sectionDeliverabilityDomainsTable"> 
	</div>
</script>
