<script id="tmpl-sectionDomainDrilldown" type="text/html">
	<div class="sectionDomainDrilldown"> 
		<div class="byTitle">Domain Drilldown by <span class="viewByValue"></span></div> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary"></div>
		<div class="sectionDomainDrilldown-view"></div>
	</div>
</script>

<script id="tmpl-sectionDomainDrilldown-barChart" type="text/html">
	<div class="sectionDomainDrilldownBar"> 
	</div>
</script>

<script id="tmpl-sectionDomainDrilldown-pieChart" type="text/html">
	<div class="sectionDomainDrilldownPie"> 
	</div>
</script>

<script id="tmpl-sectionDomainDrilldown-tableChart" type="text/html">
	<div class="sectionDomainDrilldownTable"> 
	</div>
</script>
