<script id="tmpl-sectionLinks" type="text/html">
	<div class="sectionLinks"> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary"></div>
		<div class="sectionLinks-view"></div>
	</div>
</script>


