<script id="tmpl-sectionDefers" type="text/html">
	<div class="sectionDefers"> 
		<div class="byTitle">Defers by <span class="viewByValue"></span></div> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary"></div>
		<div class="sectionDefers-view"></div>
	</div>
</script>

<script id="tmpl-sectionDefers-barChart" type="text/html">
	<div class="sectionDefersBar"> 
	</div>
</script>

<script id="tmpl-sectionDefers-pieChart" type="text/html">
	<div class="sectionDefersPie"> 
	</div>
</script>

<script id="tmpl-sectionDefers-tableChart" type="text/html">
	<div class="sectionDefersTable"> 
	</div>
</script>
