<script id="tmpl-sectionSharing" type="text/html">
	<div class="sectionSharing"> 
		<div class="byTitle">Sharing by <span class="viewByValue"></span></div> 
		<div class="statsSummary"></div>
		<div class="sectionSharing-view"></div>
	</div>
</script>

<script id="tmpl-sectionSharing-bar" type="text/html">
	<div class="sectionSharingBar"> 
	</div>
</script>

<script id="tmpl-sectionSharing-pie" type="text/html">
	<div class="sectionSharingPie"> 
	</div>
</script>

<script id="tmpl-sectionSharing-table" type="text/html">
	<div class="sectionSharingTable"> 
	</div>
</script>

<script id="tmpl-sectionSharing-pivot" type="text/html">
	<div class="sectionSharingPivot"> 
	</div>
</script>



