<script id="tmpl-sectionFailures" type="text/html">
	<div class="sectionFailures"> 
		<div class="byTitle">Failures by <span class="viewByValue"></span></div> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary"></div>
		<div class="sectionFailures-view"></div>
	</div>
</script>

<script id="tmpl-sectionFailures-bar" type="text/html">
	<div class="sectionFailuresBar"> 
	</div>
</script>

<script id="tmpl-sectionFailures-pie" type="text/html">
	<div class="sectionFailuresPie">
	</div>
</script>

<script id="tmpl-sectionFailures-table" type="text/html">
	<div class="sectionFailuresTable"> 
	</div>
</script>

<script id="tmpl-sectionFailures-pivot" type="text/html">
	<div class="sectionFailuresPivot"> 
	</div>
</script>


