<script id="tmpl-sectionDisEngagement" type="text/html">
	<div class="sectionDisEngagement"> 
		<div class="byTitle">Dis-Engagement by <span class="viewByValue"></span></div> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary"></div>
		<div class="sectionDisEngagement-view"></div>
	</div>
</script>

<script id="tmpl-sectionDisEngagement-barChart" type="text/html">
	<div class="sectionDisEngagementBar"> 
	</div>
</script>

<script id="tmpl-sectionDisEngagement-pieChart" type="text/html">
	<div class="sectionDisEngagementPie"> 
	</div>
</script>

<script id="tmpl-sectionDisEngagement-tableChart" type="text/html">
	<div class="sectionDisEngagementTable"> 
	</div>
</script>

<script id="tmpl-sectionDisEngagement-pivotChart" type="text/html">
	<div class="sectionEngagementPivot">
	</div>
</script>



