<script id="tmpl-sectionEvents" type="text/html">
	<div class="sectionEvents">
	</div>
</script>

<script id="tmpl-sectionEvents-tableChart" type="text/html">
	<div class="sectionEventsTable">
		<div class="byTitle">Events by <span class="viewByValue"></span></div> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary"></div>
		<div class="sectionEvents-table">
		</div>
	</div>
</script>
<script id="tmpl-sectionEvents-pieChart" type="text/html">
	<div class="sectionEventsPie">
		<div class="byTitle">Events by <span class="viewByValue"></span></div> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary pieOrBarView"></div>
		<div class="sectionEvents-pie">
		</div>
	</div>
</script>
<script id="tmpl-sectionEvents-barChart" type="text/html">
	<div class="sectionEventsBar">
		<div class="byTitle">Events by <span class="viewByValue"></span></div> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary pieOrBarView"></div>
		<div class="sectionEvents-bar">
		</div>
	</div>
</script>