<script id="tmpl-sectionVolume" type="text/html">
	<div class="sectionVolume">
		<div class="byTitle">Volume by <span class="viewByValue"></span></div> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary"></div>
		<div class="sectionVolume-view"></div>
	</div>
</script>


