<script id="tmpl-sectionConversions" type="text/html">
	<div class="sectionConversions"> 
		<div class="byTitle">Conversions by <span class="viewByValue"></span></div> 
		<div class="SMA-REPORT-SUMMARYSTATISTICSTABLE statsSummary"></div>
		<div class="sectionConversions-view"></div>
	</div>
</script>


