<script id="tmpl-viewEmailsPicker" type="text/html">
	<div class="viewEmailsPicker">
		<div class="viewEmailsPicker-top">
			<div class="icoDiv close"><span class="ico ico-close"></span></div>
			<div class="title">{{extTitle}}</div>
		</div>
		<div class="viewEmailsPicker-main">
			<div class="viewEmailsPicker-content">
				
			</div>
		</div>
		<div class="viewEmailsPicker-bottom">
			<div class="SMA-REPORT-VIEWEMAILSPICKERCANCELBUTTON btn cancel">Close</div>
		</div>
	</div>
</script>
